{% extends 'AirBlogBundle::base.html.twig' %}


{% block contentTitle %}Kontakt{% endblock %}

{% block content %}
	<article class="post">
		<h2>Kontakt niga</h2>
		<p>Tu jest kontak</p>
	</article>
{% endblock %}